/*
GLOBAL
*/

*,
*:before,
*:after{
margin: 0;
padding: 0;
box-sizing: border-box;
}

html{
    font-size: 62,5;
}

h1{
    font-size: 2rem;
}

a{
    color: black;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

/*
LOGO
*/
.logo{
    font-family:sans-serif;
    font-weight: bold;
    font-size: 4rem;
    line-height: 6rem;
    grid-column-start: 1;
}

/*
MENU
*/

.menu{
    grid-column-start: 6;
    font-size: 1,5rem;
    font-weight: normal;
    font-family:sans-serif;
    display: flex;
    align-items: center;
}

.menu ul{
    display: flex;
    list-style: none;
}

.menu li{
    margin-left: 1rem;
    line-height: 4rem;
}



/*
GRID
*/

.grid{
display: grid;
grid-template-columns: repeat(6,1fr);
margin: 2rem;
}

.grid--gallery{
grid-template-rows: repeat(6,1fr)
}

/*
IMAGE
*/

.image{
    width: 350px;
    height: auto;
}